.card .img-fit {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.card {
  height: 100%;
  gap: 5px;
}

@media (max-width: 767.98px) {
  .card .img-fit {
    aspect-ratio: 1.45 / 1;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  text-align: center; /* Centraliza o texto do rodapé */
  background-color: #000000; /* Cor de fundo do rodapé */
  color: #ffffff; /* Cor do texto no rodapé */
  padding: 10px 0; /* Espaço acima e abaixo do texto do rodapé */
}

footer {
  margin-top: auto;
}